<!DOCTYPE html>
<html>
<head>
    <title>Trang Giảng Viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_giangvien.css') }}">
</head>

<body>

<div class="header">
    <h1>Hệ thống quản lý đề cương học phần</h1>
</div>

<div class="container">

    <h2>Các học phần được phân công</h2>

    <table>

        <tr>
            <th>ID</th>
            <th>Tên học phần</th>
            <th>Thời gian</th>
            <th>Thao tác</th>
        </tr>

        {% for hp in hocphan %}

        <tr>
            <td>{{ hp.ID }}</td>
            <td>{{ hp.Ten }}</td>
            <td>{{ hp.ThoiGian }}</td>
            <td>
                <button>Xem đề cương</button>
            </td>
        </tr>

        {% endfor %}

    </table>

</div>

</body>
</html>